<h1>Privacy</h1>


<p>
   The privacy of the students is our main goal 
</p>
<p>
   We wil work to increase the security of students 
</p>
<p>
    We have strogn laws and regulations 
</p>
<p>
    Anything that happens to students is taken seriously 
</p>
<p>
    We encouage the best 
</p>
<p>
    We work for the best 
</p>
<img src="http://www.toyhalloffame.org/sites/www.toyhalloffame.org/files/toys/square/chess-square_0_0.jpg">