<div class="showdivmain">

  <div class="col s7">
    <%= render :partial => "camp_details" %>
 
  
  
    <%= render :partial => "camp_instructors"%>
    <%# render :partial => "camp_students"%>
  


  <div class="col s12">
    <%= render :partial => "partials/object_options", locals: {model_name: "camp", object: @camp}%>
  </div>
</div>
</div>