<h1>About us</h1>


<p>
   Its a chess club that aims to teach people chess.
</p>
<p>
   We teach people from all age ranges starting from 5 years old
</p>
<p>
    we are also a qualified club and we earned different certificates from the USA
</p>
<p>
    We have different curriculums and different instructors to help all students 
</p>
<p>
    We put engagement and learning in the same place to make the student learn better 
</p>
<p>
    Every month we do a competition to test the level of the students 
</p>

<img src="http://www.toyhalloffame.org/sites/www.toyhalloffame.org/files/toys/square/chess-square_0_0.jpg">