// Place all the styles related to the Camps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    margin: 0;
}
.form-style-8main{
    background-image: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/human-in-training/phpGj5Vu1.jpeg");
    height: 140%; 
    display: block;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 80px; 
    opacity: 0.70;

}
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #663300;
    background-color: #bf8040;
    border: 1px solid #663300;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #bf8040 5%, #bf8040 100%);
    background-color:#bf8040;
}




* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
    
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
   
  text-align: left;
  padding: 12px;
}

#myTable tr {
    
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    
  background-color: #f1f1f1;
}

#myTablehead{
     background-color: #DEB887;
}



body, html {
    height: 100%;
    margin: 0;
}
.showdivmain{
    background-image: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/human-in-training/phpGj5Vu1.jpeg");
    height: 140%; 
    display: block;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 80px; 
    opacity: 0.90;

}

.showdiv {
    top: 30%;
    left: 30%;
    position: absolute;
    text-align: center ;
    background-color: #FFDAB9;
    width: 500px;
    border: 15px solid #8B4513;
    padding: 30px ;
    margin: 0px;
}


.expert2 {
    background: #DEB887;
    width: 300px;
    border: 25px solid #8B4513;
    padding: 25px;
    margin: 25px;
    box-sizing: border-box;
     padding-bottom: 35%;
}